{% extends 'front/layout/simple_layout.html.twig' %}

{% block section  %}
    <div class="pagina-registro">
       <div class="imagen">
           <img src="{{ asset('assets/img/bg-registro.jpg') }}" alt="">
       </div>    
        <div class="form">
{#            {{ dump(form) }}#}

            {{ form_start(form,{attr: {class: 'form-registro'} }) }}
            {{ form_widget(form) }}
{#            {{ form_widget(form.username) }}#}
{#            {{ form_widget(form.email) }}#}
{#            {{ form_widget(form.plainPassword) }}#}

{#            <div class="errores">#}
{#                {{ form_errors(form) }}#}
{#            </div>#}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}