{% if posts is defined %}
{% for post in posts %}
        <div class="post" id="post_{{ post.id }}">
            <input type="hidden" name="id_user" value="{{ post.id_user }}">
            <input type="hidden" name="id_user_session" value="{{ app.user.id }}">
            <input type="hidden" name="id_post" value="{{ post.id }}">
            <div class="header">
                <div class="user">
                    <a href="{{ path('perfil',{'username': post.name_user}) }}">{{ post.name_user }}</a>
                </div>
                {% if app.user.id != post.id_user  and app.request.requestUri != "/#{post.name_user}" %}
                    {% if not post.followed %}
                        <div class="follow follow_{{ post.id_user }}">
                            <button class="follow-user">Seguir</button>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="video">
                <video controls>
                    <source src="{{ post.enlace }}" type="video/mp4">
                    <source src="{{ post.enlace }}" type="video/ogg">
                    Your browser does not support HTML5 video.
                </video>
                <div id="video-controls">
                    <button type="button" id="play-pause">Play</button>
                    <input type="range" id="seek-bar" value="0">
                    <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
                    <button type="button" id="full-screen">Full-Screen</button>
                </div>
            </div>

            <div class="details">
                <div class="sing">
                    <p class="title">{{ post.song }}</p>
                </div>
                <div class="artist">
                    <p class="name">{{ post.artist }}</p>
                </div>
            </div>
            <div class="interacciones">
                <div class="like">
                    {% if post.liked %}
                        <i id="icon_{{ post.id }}" class="icon-like icon-cor-rojo" ></i>
                    {% else %}
                        <i id="icon_{{ post.id }}" class="icon-like icon-cor"></i>
                    {% endif %}

                </div>
                <div class="comments">
                    <i class="icon icon-comments"></i>
                </div>
                <div class="navdot">
                    <i class="icon icon-navdot"></i>
                </div>
                <div class="menu-navdot" style="display:none">
                    {% if app.user.id == post.id_user  %}
                        <div class="fila" id="borrar_video">
                            <p>Borrar video</p>
                        </div>
                    {% else %}
                        <div class="fila" id="denunciar_video">
                            <p>Denunciar video</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="box-comments">
                <div class="comments">
                    {% if post.comments.count %}
                        {% for comment in post.comments %}
                            <div class="comment">
                                <input type="hidden" name="id_comment" value="{{ comment.id }}">
                                <input type="hidden" name="id_post" value="{{ post.id }}">
                                <input type="hidden" name="id_user_comment" value="{{ comment.id_user_comment }}">
                                <div class="enlaces">
                                    <a href="{{ path('perfil',{'username': comment.username_comment}) }}">{{ comment.username_comment }}</a>
                                {% if comment.id_user_comment == app.user.id or
                                        comment.id_user_post == app.user.id%}
                                        <a href="#" class="delete-comment">Borrar</a>
                                    {% endif %}
                                </div>
                                <p>{{ comment.content }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="buttons">
                    <textarea  cols="30" rows="5" placeholder="Máximo 200 caracteres" class="comment-user"></textarea>
                    <div class="boton">
                        <i class="icon-enviar button-comments"></i>
                    </div>
                </div>
                <div class="msg_confirm">
                    <p id="msg_confirm">Mensaje enviado correctamente</p>
                </div>
                <div class="msg_error">
                    <p id="msg_error">Ha ocurrido un error al enviar el mensaje</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
